#big-wrapper {
    display: flex;
    flex-flow: row wrap;
}

header {
    width: 100%;
}

section {
    min-width: 450px;
    max-width: 900px;
} 

@media (min-width: 768px) {
    header {
      padding-top: 3em;
      width: 300px;
    }
}

@media (min-width: 992px) {
    header {
      width: 400px;
    }
}