#big-wrapper {
    display: flex;
    flex-flow: row wrap;
}

header {
    width: 100%;
}

section {
    width: 95%;
    margin: 2em auto 0 auto;
} 

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#article-options:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    header {
        padding-top: 3em;
        width: 300px;
        min-height: 100vh;
    }

    section {
        width: 450px;
        margin: 2em auto;
    }
}

@media (min-width: 992px) {
    header {
        width: 400px;
    }

    section{
        width: 600px;
    }
}